<h1>oninit-ondestroy</h1>

<!-- text interpolations -->
<p>{{ texto }}</p>

<!-- property binding -->
<app-promises [texto]="texto" ></app-promises>

<button (click)="alerta()">Alerta</button>
<br>
<br>

<!-- Event Binding -->
<input type="text"
(keyup)="digitando($event)"
(keyup.enter)="pegarValorAoclicarEnter(texto)">
<br>

<p
(mouseover)="passouMouse()"
(mouseout)="tirouMouse()"
>AAAAAAAAAA
</p>

<!-- two way data binding | banana na caixa -->
<input
[(ngModel)]="text"
>

<p>Você digitou: {{ text }}</p>
