.main {
  height: 100%;
  display: flex;
  background: #acfffe;
}

.form-login {
  width: 50%;
  background: #00a6ed;
  border-top-right-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-login input, button {
  height: 35px;
  text-align: center;
  border: 3px solid #acfffe;
  margin: 5px;
  width: 350px;
  border-radius: 10px;
  font-size: 25px;
}

.links {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-around;
}

.links a {
  margin: 5px;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.links a:hover {
  margin: 5px;
  font-size: 22px;
  color: #FFF;
  cursor: pointer;
}

.form-login button {
  background-color: #9dadfb;
  color: #FFF;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.form-login button:hover {
  width: 355px;
  height: 40px;
  background: #9c95fa;
  -webkit-box-shadow: 10px -1px 31px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px -1px 31px -5px rgba(0,0,0,0.75);
  box-shadow: 10px -1px 31px -5px rgba(0,0,0,0.75);
}

.img-login {
  width: 50%;
  background: #ff70fb;
  border-bottom-left-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-login span {
  font-size: 30px;
  color: #f3eae8;
  margin-left: 120px;
  margin-bottom: 120px;
}

.img-login img {
  border-radius: 50%;
  width: 40%;
  margin-left: 120px;
  margin-bottom: 30px;
}
