.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.form input, button {
  width: 500px;
  height: 35px;
  font: 30px;
  margin-top: 10px;
  border: 1px solid #EEE;
  border-radius: 10px;
}

.form button {
  background-color: crimson;
  color: #FFF;
  cursor: pointer;
}

