<div class="form">
  <mat-form-field class="example-form-field">
    <mat-label>E-mail</mat-label>
    <input matInput type="text" [(ngModel)]="email">
    <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="limparCampo()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Senha</mat-label>
    <input matInput type="text" [(ngModel)]="email">
    <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="limparCampo()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="accent">Login</button>
</div>
