.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.pokemons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  font-size: 25px;
  margin: 10px;
  width: 220px;
  height: 200px;
  border-radius: 50%;
}

.pokemons img {
  width: 140px;
}
