ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 140, 230);
    display: flex;
    justify-content: center;
  }
  a {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-right: 90px;
    margin-top: 15px;
    margin-left: 90px;
    margin-bottom: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  a:hover{
    color: rgba(0, 0, 0, 0.586);
  }
  img {
    width: 150px;
  }
