.Cadastro{
  display: flex;
  margin-top: 120;
  flex-direction: column;
  align-items: center;
}

.Cadastro input,button{
  height: 35px;
  width: 500px;
  font: 30px;
  border-radius: 10px;
  border: 2px solid #EEE;
  padding-left: 10px;
}

.Cadastro button{
  background-color: black;
  color: #fff;
  cursor: pointer;

}

.Cadastro button:hover{
  background-color: blueviolet;
}

