.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 5px solid #ff4081;
  background-color: #ff4081;
}

.content input, button {
  margin: 5px;
  font-size: 20px;
  text-align: center;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.content button {
  background-color: #00a6ed;
  color: #FFF;
}
