<!-- <div class="content">
    <form class="form" (ngSubmit)="adicionarAnimal()" [formGroup]="animalForm">
      <input formControlName="nome" type="text" placeholder="Nome do animal">
      <input formControlName="raca" type="text" placeholder="Raça">
      <input formControlName="peso" type="number" placeholder="Peso">
      <button>Cadastrar animal</button>
    </form>
</div> -->


<div class="content">
  <div class="form">
    <input [(ngModel)]="nome" type="text" placeholder="Nome do animal">
    <input [(ngModel)]="raca" type="text" placeholder="Raça">
    <input [(ngModel)]="peso" type="number" placeholder="Peso">
    <button (click)="adicionarAnimal()">Cadastrar animal</button>
  </div>
</div>
