.menu {
  width: 100%;
  display: flex;
}

.menu a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 40px;
  color: #FFF;
  width: 350px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
