.menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu a {
  margin-top: 10px;
  background: #4a588c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  height: 50px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  transition: .5s ease-in-out;
}

.menu a:hover {
  height: 42px;
  background: #849ae5;
  width: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  height: 50px;
}
