.pokemon{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(186, 250, 10);
  font-size: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif

}

.main{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;


}

.pokemons{
  padding: 5px;
  margin: 10px;

  border: solid black 5px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-size: 300px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.img{
  margin-top: 80px;
}


